<!DOCTYPE html>
<html>
{% load static %}
	<head>
		<meta charset="utf-8">
		<title>registration</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'styles/fonts/linearicons/style.css' %}">
		<link rel="stylesheet" href="{% static 'styles/reg.css' %}">
	</head>
	<body>
		<div class="wrapper">
			<div class="inner">
				<form method="post" action="">
					{% csrf_token %}
					<h3>Новый аккаунт?</h3>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input name="username" type="text" class="form-control" placeholder="Имя пользователя">
					</div>
					<div class="form-holder">
						<span class="lnr lnr-envelope"></span>
						<input type="text" class="form-control" name="nick" placeholder="Ваш никнейм в чате">
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" class="form-control" name="password" placeholder="Пароль">
					</div>

					<button>
						<span>Зарегистрироваться</span>
					</button>
				</form>
			</div>
		</div>
	</body>
</html>
